.page {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

.action {
    width: 769px;
}

.action__title {
    font-size: 24px;
    line-height: 36px;
}

.action__body {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 2fr;
    column-gap: 24px;
}

.good__img {
    width: 100%;
}

.good__caption {
    margin-top: 0;
}

@media screen and (max-width: 769px) {
    .action {
        width: 100%;
    }

    .action__body {
        grid-template-rows: 3fr 2fr;
        grid-template-columns: 1fr;
        row-gap: 24px;
    }
}